
            /* add custom cursor */
            .typed-words::after {
                content: "|";
                font-weight: 400;
                display: inline;
                animation: blink 1s infinite;
                border: 0px;
            }

            /* custom cursor animation */
            @keyframes blink {
                0% {
                    opacity: 1;
                }

                50% {
                    opacity: 0;
                }

                100% {
                    opacity: 1;
                }
            }
        